<li class="list-group-item">
  <div class="run_controls"><%= render_module_run_controls mod %></div>
  <%= render_module_run_status mod %>
  <%= render_module_log mod %>
  <%= render 'hilda/modules/notices', notices: (@module_notices[mod] || []) %>
</li>
