<% if mod.respond_to? :param_defs %>
  <% form_disabled = (!mod.can_receive_params?) %>
  <li class="list-group-item">
    <% has_files = mod.param_defs.any? do |key,param| param[:type]==:file end || false %>
    <%= simple_form_for @ingestion_process, url: hilda.ingestion_process_module_path(@ingestion_process, mod.module_name), html: { class: 'form', multipart: has_files } do |f| %>
      <%= f.input :no_layout, as: :hidden, input_html: { value: 'true' } %>
      <div class="form-group">
        <%= render_module_params(mod, f) %>
      </div>
      <% if mod.can_receive_params? %>
        <%= f.button(:submit, 'Update module', class: "btn btn-primary #{'disabled' if form_disabled}") unless mod.rendering_option(:no_submit) %>
      <% end %>
    <% end %>
  </li>
<% end %>
