<div style="display: none">
  <%= simple_form_for @ingestion_process, url: edit_ingestion_process_path(@ingestion_process), remote: true, html: { id: 'modules_poll_form'} do |f| %>
  <% end %>
</div>
