<% notices.each do |notice| %>
  <div class="alert alert-<%= notice[:level] %> alert-dismissable">
    <button name="button" type="button" class="close" data-dismiss="alert">x</button>
    <%= notice[:message] %>
  </div>
<% end %>
