@import "hilda/modules";
@import "hilda/file_upload";
@import "hilda/bulk_file_metadata";

body>.container {
  padding-top: 80px;
}

.page-header {
  margin-top: 0;
  h1 {
    margin-top: 0;
  }
}

footer {
  margin: 10px 0;
}
