$module-initialized: #888;
$module-submitted: $brand-info;
$module-running: $brand-warning;
$module-queued: $brand-warning;
$module-finished: $brand-success;
$module-cleaned: $brand-success;
$module-error: $brand-danger;
$graph-paused: #b85cb8;

.module_status, .graph_status {
  font-weight: bold;
  &.initialized {
    color: darken($module-initialized, 10%);
  }
  &.submitted {
    color: darken($module-submitted, 10%);
  }
  &.running {
    color: darken($module-running, 10%);
  }
  &.queued {
    color: darken($module-queued, 10%);
  }
  &.error {
    color: darken($module-error, 10%);
  }
  &.cleaned {
    color: darken($module-cleaned, 10%);
  }
  &.finished {
    color: darken($module-finished, 10%);
  }
  &.paused {
    color: darken($graph-paused, 10%);
  }
}

.nav-tabs {
  li, li.active {
    &>a {
      font-weight:bold
    }
    &.group_initialized {
      &>a, &>a:hover, &>a:focus { color: darken($module-initialized, 10%); }
    }
    &.group_submitted {
      &>a, &>a:hover, &>a:focus { color: darken($module-submitted, 10%); }
    }
    &.group_running {
      &>a, &>a:hover, &>a:focus { color: darken($module-running, 10%); }
    }
    &.group_queued {
      &>a, &>a:hover, &>a:focus { color: darken($module-queued, 10%); }
    }
    &.group_error {
      &>a, &>a:hover, &>a:focus { color: darken($module-error, 10%); }
    }
    &.group_cleaned {
      &>a, &>a:hover, &>a:focus { color: darken($module-cleaned, 10%); }
    }
    &.group_finished {
      &>a, &>a:hover, &>a:focus { color: darken($module-finished, 10%); }
    }
    &.group_paused {
      &>a, &>a:hover, &>a:focus { color: darken($graph-paused, 10%); }
    }
  }
}

.module_group_tabs {
  padding-top: 15px;
}

.module_graph {
  .graph_controls {
    margin: 15px 0;
    &>* { margin-right: 15px; }
  }
  
  &.graph_running, &.graph_queued {
    .btn-primary { @extend .btn-primary.disabled }
    .btn-default { @extend .btn-default.disabled }
    .btn { @extend .btn.disabled }
    .form-control { @extend .form-control[disabled] }
  }
  
  .run_controls {
    display: none;
  }
  &.show_advanced {
    .run_controls {
      display: block;
    }
    .rollback_graph_button {
      display: inline-block;
    }
  }
  
  .rollback_graph_button { display: none; }

  .module {
    &.status_initialized .panel-heading {
      background-color: lighten($module-initialized, 30%);
    }
    &.status_submitted .panel-heading {
      background-color: lighten($module-submitted, 30%);
    }
    &.status_running .panel-heading {
      background-color: lighten($module-running, 30%);
    }
    &.status_queued .panel-heading {
      background-color: lighten($module-queued, 30%);
    }
    &.status_error .panel-heading {
      background-color: lighten($module-error, 30%);
    }
    &.status_cleaned .panel-heading {
      background-color: lighten($module-cleaned, 30%);
    }
    &.status_finished .panel-heading {
      background-color: lighten($module-finished, 30%);
    }

    .module_status {
      margin-left: 20px;
      display: inline-block;
    }
    
    .panel-title { display: inline; }

    .module_log {
      table {
        margin-bottom: 0;
        tr {
          &.error {
            background-color: lighten($module-error, 30%);
          }
          &.warn {
            background-color: lighten($module-running, 30%);
          }
          td {
            vertical-align: top;
            padding-left: 10px;
          }
        }
      }
    }

    .alert {
      margin: 15px;
    }

  }
}
