<%= render 'hilda/modules/default_form', mod: mod, form_class: 'library_linker' %>
<div class="library_record_preview list-group-item">
  <h4>Selected record</h4>
  <% selected_record_label = mod.selected_record_label %>
  <span class="<%= 'not_found' if selected_record_label.nil? %>"><%= selected_record_label || 'Record not found' %></span>
</div>