<%- model_class = Hilda::IngestionProcess -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= render 'processes_list', ingestion_processes: @ingestion_processes %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            hilda.new_ingestion_process_path,
            :class => 'btn btn-primary' %>
